#save-list {
    max-width: 600px;
    margin: 0 auto;
}

.save-slot {
    background-color: #333;
    border: 1px solid #444;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.save-info {
    flex-grow: 1;
}

.save-actions button {
    margin-left: 10px;
    background-color: #555;
    border: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}

.save-actions button:hover {
    background-color: #777;
}

#saves {
    display: none;
    margin: 20px auto;
    color: white;
    /*background-color: green;*/
}

#world {
    image-rendering: crisp-edges; /*crispy juicy tender, I JUST PUT MY NEWBORN SON INTO A BLENDER YOOOOOO*/
    border: 2px solid #1e1e2f;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: aquamarine; /*Temp debug tool, helps me see the canvas when stuff is broken*/
    height: 100%;
    position: sticky;
}

button {
    padding: 8px 16px;
    margin: 4px;
    border: none;
    border-radius: 4px;
    background-color: #444;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}
button:hover {
    background-color: #666;
}
button.active {
    background-color: #00b894;
}

#main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#ui-container {
    min-width: 250px;
    padding: 10px;
    background-color: rgb(48, 40, 103);
    overflow-y: auto;
    position: sticky;
}

.middle {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


#notifications-container {
    position: fixed; /* or absolute, depending on your needs */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* Optional: Add dimensions, background, padding, etc. */
    width: 200px;
    height: 100px;
    text-align: center;
    padding-top: 20px;
}   
.notification {
    padding: 15px;
    border-radius: 8px;
    color: #fff;
    font-family: sans-serif;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    opacity: 0;
    animation: fadeIn 0.5s forwards, fadeOut 0.5s forwards 4.5s;
}
legend {
    color:aliceblue
}
.notification.message { background-color: #2e86de; }
.notification.warning { background-color: #f39c12; }
.notification.error   { background-color: #e74c3c; }

@keyframes fadeIn {
    to { opacity: 1; transform: translateY(0); }
    from { opacity: 0; transform: translateY(10px); }
}

@keyframes fadeOut {
    to { opacity: 0; transform: translateY(10px); }
    from { opacity: 1; transform: translateY(0); }
}

#ot {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(30, 12, 147);
    z-index: 1000;

}

#game-saves {
    display: none;
}